.svgCanvas {
  position: absolute;
  user-select: none;
  width: 100%;
  height: 100%;
}

/*現在描画中のパスはわかりやすいように色をつける*/
.current-path {
  stroke: turquoise;
}

/*リンクが埋め込まれたパス*/
.linkedPath:hover {
  stroke: dodgerblue;
  stroke-width: 12;
  transition: 0.5s;
}
.linkedPath:focus {
  stroke: dodgerblue;
  stroke-width: 120%;
  transition: 0.5s;
}

/*選択されたGroupパス*/
.activePath {
  stroke: dodgerblue;
  animation: blinkingStrokes ease-in-out 1s infinite;
}

@keyframes blinkingStrokes {
  0% {

  }
  50% {
    stroke-width: 12;
  }
  100% {

  }
}

/*関連画像から選択されたパス*/
.focusedLinkedPath{
  stroke: dodgerblue;
  transform-origin: center;
  transform: scale(1.2);
  transition: 0.5s;
}

#root {
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100%;
  touch-action: none;
}

.toolBarContainer {
  position: fixed;
  pointer-events: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.toolBar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
  position: fixed;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  pointer-events: auto;
  margin-top: 4px;
}

.modalTextArea {
  width: 100%;
}

.modalImageList {
  width: 90%;
  height: 70%;
  overflow: scroll;
}

.modalButtons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.toolButton {
  margin: 3px;
}

.leftButton {
  margin-left: auto;
  color: #fff;
  background-color: #41bf8b;
  border-color: #3aac7d;
}

.button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.BBLayer {

}

.BBCorner {
  stroke: darkslategray;
  stroke-width: 1px;
  fill: white;
}

/*画像一覧用コンテナ*/
.ImportModalMenuContainer {
  max-width: 100%;
  max-height: 80%;
  overflow-y: auto;
  user-select: none;
}

/*Import用の画像一覧*/
.ImportModalMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  scroll-behavior: auto;
  user-select: none;
}

.ImportModalItem {
  max-height: 200px;
}

.ImportModalItem:hover {
  filter: grayscale(0%);
  border-width: 3px;
  border-style: solid;
  border-color: #3aac7d;
  transform: scale(0.9);
  transition: 0.1s;
}

.ImportModalItem:focus {
  filter: grayscale(0%);
  border-width: 3px;
  border-style: solid;
  border-color: #3aac7d;
  transform: scale(0.9);
  transition: 0.1s;
}

.referedItemMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  scroll-behavior: auto;
  user-select: none;
}

.referedItem {
  margin: 5px;
  max-width: 110px;
  max-height: 110px;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.4);
}
.referedItem:active {
  box-shadow: none;
}

.referedItem:hover {
  box-shadow: none;
}

.referedItemContainer:active {
  box-shadow: 0px 0px 0px 2px #3aac7d inset;
}

.referedItemContainer:hover {
  box-shadow: 0px 0px 0px 2px #3aac7d inset;
}

/* .ImportModalItemSelected {
  filter: grayscale(0%);
  border-width: 3px;
  border-style: solid;
  border-color: #3aac7d;
  transform: scale(0.9);
  transition: 0.1s;
} */

/* .ImportModalItem:hover {
  filter: grayscale(0%);
  border-width: 1px;
  border-style: solid;
  border-color: #3aac7d;
  transition: 0.5s;
} */

/*モーダル背景用*/
.overLay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

/*BB用背景*/
.BBOverLay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  user-select: none;
}

/*リンク付きのPath*/

/*カラーパレット*/
.collorPalletContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  user-select: none;
}

/*カラーパレットのボタン*/
.colorPalletButton {
  width: 36px;
  height: 36px;
  margin: 0px 2px;
}

/*キャンバスリセット時の確認モーダル*/
.resetDialogContainer {
  width: 30%;
  height: 20%;
  background-color: white;
  border: none;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

/*そのボタン*/
.resetDialogButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  user-select: none;
}

/*関連画像一覧モーダル*/
.localListContainer {
  width: 90%;
  height: 80%;
  background-color: white;
  border: none;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
  position: absolute;
}

/*要素をクリックしたときにサムネを表示する(ThumbDialog.tsx)*/
.thumbDialogContainer {
  width: 50%;
  max-height: 70%;
  background-color: rgba(255,255,255,0.5);
  border: none;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
  position: absolute;
  display: flex;
  flex-direction: row;

}

/*サムネ本体*/
.thumbnailContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  user-select: none;
}

/*ThumbDialogの中の関連イラストリスト*/
.thumbDialogReferredContainer {
  background-color: rgba(0, 0, 0, 0.15);
}

/*横に表示する関連ページ*/
.viewLinkDialogContainer {
  width: 120px;
  height: 100%;
  left: 0%;
  top: 0%;
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
  position: fixed;
  user-select: none;
}

/*Import用Dialog*/
.importDialogContainer {
  width: 80%;
  height: 80%;
  background-color: white;
  border: none;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
  position: absolute;
}

/*Export用キャンバス(常に非表示にしておく)*/
.exportCanvasContainer {
  display: none;
}

/*BoundingBoxのメニュー用*/
.contextRectMenu {
  position: absolute;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border: none;
  user-select: none;
  margin-bottom: 2px;
}

.contextRectButtons {
  margin: 0 0 0 2px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
  background-color: #01bc8c;
  color: white;
}

.contextRectButtons:hover {
  background-color: white;
  color: #01bc8c;
  transition: .3s;
}

.contextRectButtons:active {
  background-color: white;
  color: #01bc8c;
  transition: .3s;
}
